body {
  background-color: #1f2023;
  width: 80%;
  max-width:600px;
  text-align: center;
  margin:auto;
  font-family: 'roboto', sans-serif;
  font-size: small;
}

h1 {
  font-family:'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
  border-top: solid 15px #4d6d63;
  border-left:solid 20px #1f2023;
  border-bottom:solid 15px #4d6d63;
  border-right:solid 20px #1f2023;
  color: white;
}

fieldset {
  background-color: #d6e2de;
  font-family:'Poppins', sans-serif;
  width:80%;
  max-width:600px;
  margin:auto;
}

.blanco {
  color: white;
}

.titulos {
  
  text-align:left;
  background-color:#4d6d63;
  color:white;
  padding: 6px 6px 5px 6px;
  border-radius: 6px;
  font-variant: small-caps;
  font-size:18px; 
}

.bloque {
  display:block;
  margin:auto; 
}

.campo-entrada {
  max-width:400px;
  width:80%;
  height:20px;
  margin-top: 10px;
  margin-bottom: 7px;
  border: solid 1px;
  border-radius: 3px;
  border-color:#83b6a6;
  text-align:end;

}

.campo-pais {
  max-width:400px;
  width:80%;
  height:20px;
  margin-top: 10px;
  margin-bottom: 7px;
  border: solid 1px;
  border-radius: 3px;
  border-color:#83b6a6;
  text-align:start;
}

input:focus{  
  background-color: #4d6d63;
 }

.campo-descripcion {
  height:100px;
}

.bolas {
  border-bottom: dotted 15px #d6e2de;
  width:50%;
  max-width: 300px;
  margin:auto;
  margin-bottom: 15px;
  padding:10px
}


fieldset:focus-within {
  background-color: #A6C1B9;
}


fieldset:focus-within > legend {
  background-color: #2B3D37;
  border-color: #2B3D37;
}

